/* mobile */
.work-experience-container {
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 20px;
}

/* tablet */
@media screen and (min-width: 655px) {
    .work-experience-container {
        padding: 40px;
        grid-gap: 40px;
    }

}

/* desktop */
@media screen and (min-width: 1222px) {
    .work-experience-container {
        padding: 60px;
        grid-gap: 60px;
    }

}
