/* mobile */
.container {
  padding: 5px 10px;
  display: flex;
  flex-wrap: wrap;
  min-height: 73.9vh;
}

.contact-card {
  width: 100%;
  margin: 5px 0;
}

/* tablet */
@media screen and (min-width: 655px) {
  .container {
    padding: 30px 15px;
    flex-wrap: nowrap;
    min-height: 77.4vh;
  }

  .contact-card {
    margin: 0 15px;
  }
}

/* desktop */
@media screen and (min-width: 1222px) {
  .container {
    padding: 60px 30px 60px 30px;
    display: flex;
    min-height: 73.9vh;
  }

  .contact-card {
    width: 50%;
    margin: 0 30px;
  }
}
