<main class="container">
  <mat-card class="card">
    <h1 class="title">{{ 'PRIVACY_POLICY_TITLE' | translate }}</h1>
    <hr />
    <p>
      {{ 'PRIVACY_POLICY_INTRO_1' | translate }}
    </p>
    <p>
      {{ 'PRIVACY_POLICY_INTRO_2' | translate }}
    </p>
    <p>
      {{ 'PRIVACY_POLICY_INTRO_3' | translate }}
    </p>

    <br />
    <h2 class="title">{{ 'PRINCIPLES_APPLIED_IN_DATA_PROCESSING_TITLE' | translate }}</h2>
    <p>
      {{ 'PRINCIPLES_APPLIED_IN_DATA_PROCESSING_INTRO' | translate }}
    </p>
    <ul>
      <li>
        {{ 'PRINCIPLES_APPLIED_IN_DATA_PROCESSING_ITEM_1' | translate }}
      </li>
      <li>
        {{ 'PRINCIPLES_APPLIED_IN_DATA_PROCESSING_ITEM_2' | translate }}
      </li>
      <li>
        {{ 'PRINCIPLES_APPLIED_IN_DATA_PROCESSING_ITEM_3' | translate }}
      </li>
      <li>
        {{ 'PRINCIPLES_APPLIED_IN_DATA_PROCESSING_ITEM_4' | translate }}
      </li>
      <li>
        {{ 'PRINCIPLES_APPLIED_IN_DATA_PROCESSING_ITEM_5' | translate }}
      </li>
    </ul>

    <br />
    <h2 class="title">{{ 'OBTAINING_PERSONAL_DATA_TITLE' | translate }}</h2>
    <p>
      {{ 'OBTAINING_PERSONAL_DATA_INTRO' | translate }}
    </p>
    <ul>
      <li>
        {{ 'OBTAINING_PERSONAL_DATA_ITEM_1' | translate }}
      </li>
    </ul>

    <br />
    <h2 class="title">{{ 'PURPOSE_OF_THE_PROCESSING_OF_PERSONAL_DATA_TITLE' | translate }}</h2>
    <p>
      {{ 'PURPOSE_OF_THE_PROCESSING_OF_PERSONAL_DATA_INTRO' | translate }}
    </p>
  </mat-card>

  <mat-card class="card">
    <h2 class="title">{{ 'COOKIES_POLICY_TITLE' | translate }}</h2>
    <hr />
    <p>
      {{ 'COOKIES_POLICY_INTRO' | translate }}
    </p>

    <br />
    <h2 class="title">{{ 'WHAT_ARE_COOKIES_TITLE' | translate }}</h2>
    <p>
      {{ 'WHAT_ARE_COOKIES_INTRO' | translate }}
    </p>

    <br />
    <h2 class="title">{{ 'WHAT_TYPES_OF_COOKIES_DOES_THIS_WEBSITE_USE_TITLE' | translate }}</h2>
    <ul>
      <li>
        {{ 'WHAT_TYPES_OF_COOKIES_DOES_THIS_WEBSITE_USE_ITEM' | translate }}
      </li>
    </ul>
  </mat-card>
</main>
