<mat-expansion-panel expanded="true" data-cy="academicTitlesContainer">
  <mat-expansion-panel-header data-cy="academicTitlesContainerHeader">
    <mat-panel-title class="academic-panel-title">
      <fa-icon class="icon" [icon]="icon" size="lg"></fa-icon>
      {{title | translate}}
    </mat-panel-title>
  </mat-expansion-panel-header>
  <section data-cy="academicTitlesContainerContent" class="list-academic-title">
    <article *ngFor="let academicTitle of academicTitles">
      <app-academic-title-card [academicTitle]="academicTitle"></app-academic-title-card>
    </article>
  </section>
</mat-expansion-panel>