<mat-card class="card">
  <mat-card-content>
    <form [formGroup]="contactForm" #contactFormDirective="ngForm" class="contact-form"
      (ngSubmit)="sendMail(contactFormDirective)">
      <div class="contact-form-field">
        <mat-form-field>
          <input matInput data-cy="contactFieldNameInput" placeholder="{{'Name' | translate}}" formControlName="name">
        </mat-form-field>
        <mat-error *ngIf="name.touched && name.hasError('required')"
          data-cy="contactFieldNameRequiredError">
          {{'I need to know your name' | translate}}
        </mat-error>
      </div>

      <div class="contact-form-field">
        <mat-form-field>
          <input matInput data-cy="contactFieldEmailInput" placeholder="{{'E-mail' | translate}}" formControlName="email">
        </mat-form-field>
        <mat-error *ngIf="email.touched && email.hasError('email') && !email.hasError('required')"
          data-cy="contactFieldEmailInvalidError">
          {{'Please enter a valid email address' | translate}}
        </mat-error>
        <mat-error *ngIf="email.touched && email.hasError('required')"
          data-cy="contactFieldEmailRequiredError">
          {{'Maybe you want me to contact you' | translate}}
        </mat-error>
      </div>

      <div class="contact-form-field">
        <span [hidden]="true" data-cy="contactFieldSumRandomNumbers">
          <span>{{num1ToSum}}</span>
          <span>{{num2ToSum}}</span>
        </span>
        <mat-form-field>
          <input matInput data-cy="contactFieldSumInput" type="number" placeholder="{{num1ToSum}} + {{num2ToSum}}" formControlName="sum">
        </mat-form-field>
        <mat-error *ngIf="sum.touched && sum.hasError('correctSum') && !sum.hasError('required')"
          data-cy="contactFieldSumInvalidError">
          {{'The sum is not correct, maybe you are a robot!' | translate}}
        </mat-error>
        <mat-error *ngIf="sum.touched && sum.hasError('required')"
          data-cy="contactFieldSumRequiredError">
          {{'It is required to avoid robots' | translate}}
        </mat-error>
      </div>

      <div class="contact-form-field">
        <mat-form-field>
          <textarea matInput cdkTextareaAutosize data-cy="contactFieldMessageInput" #autosize="cdkTextareaAutosize"
            placeholder="{{'Leave a message' | translate}}" formControlName="message"></textarea>
        </mat-form-field>
        <mat-error *ngIf="message.touched && message.hasError('required')"
          data-cy="contactFieldMessageRequiredError">
          {{'What do you want to tell me?' | translate}}
        </mat-error>
      </div>

      <button class="contact-form-button" data-cy="contactSubmitButton" [disabled]="!contactForm.valid" mat-raised-button color="primary">
        {{'Send me your message' | translate}}
      </button>

      <div *ngIf="isMailBeenSended" class="spinner-container">
        <mat-progress-spinner color="accent" mode="indeterminate" diameter="50"></mat-progress-spinner>
      </div>
    </form>
  </mat-card-content>
</mat-card>