/* mobile */
.education-container {
  padding: 10px;
}

/* tablet */
@media screen and (min-width: 655px) {
  .education-container {
    padding: 40px;
  }
}

/* desktop */
@media screen and (min-width: 1222px) {
  .education-container {
    padding: 60px;
  }
}
