<div id="app" lang="{{ 'LANGUAGE_CODE' | translate }}">
  <app-header [sidenavElement]="sidenav"></app-header>

  <mat-sidenav-container class="container">
    <mat-sidenav
      #sidenav
      data-cy="sidenav"
      class="sidenav"
      [mode]="isDesktopScreen ? 'side' : 'over'"
      fixedInViewport="true"
      [opened]="isDesktopScreen"
    >
      <app-sidenav [sidenavElement]="sidenav" [isDesktopScreen]="isDesktopScreen"></app-sidenav>
    </mat-sidenav>

    <mat-sidenav-content class="main-content">
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>

  <app-footer></app-footer>
</div>
