<mat-card class="card">
  <mat-card-header class="card-title-reasons">
    <mat-card-title>
      <h2 class="card-title-reasons-text">{{'Contact me!' | translate}}</h2>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content class="card-content-reasons">
    <ul class="list-reasons-to-contact">
      <li class="reason-to-contact">
        {{'Do you have a project in mind?' | translate}}
      </li>
      <li class="reason-to-contact">
        {{'Do you want a collaboration?' | translate}}
      </li>
      <li class="reason-to-contact">
        {{'Do you need some help?' | translate}}
      </li>
    </ul>
    <p class="card-content-reasons-text">
      {{'You can send me an email to' | translate}}
      <a href="mailto:icordobadonet@gmail.com" class="mail-to-contact accent">
        icordobadonet@gmail.com
      </a> {{'or fill out the form' | translate}}.
    </p>
  </mat-card-content>
</mat-card>