<main data-cy="aboutMeContainer">
  <section class="about-me-header">
    <app-link-icons [linkIcons]="socialNetworks"></app-link-icons>
  </section>
  <img class="about-me-image" src="../../../assets/img/me.png" alt="me" />

  <section class="about-me-container">
    <mat-card>
      <mat-card-content class="about-me-description">
        <p>
          {{ 'ABOUT_ME_DESCRIPTION' | translate }}
        </p>
        <p>
          {{ 'ABOUT_ME_HOBBIES' | translate }}
        </p>
      </mat-card-content>
    </mat-card>
  </section>
</main>
